@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
}

body {
    font-style: normal;
    background-color: #FFFFFF;
}

.container {
    margin: 100px 0;
    justify-content: center;
    text-align: center;
}

.email {
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.04em;
    line-height: 24px;
}

a {
    text-decoration: none;
}

.password {
    font-size: 14px;
    line-height: 24px;
    color: #49505A;
}

.resend {
    font-size: 14px;
    line-height: 17px;
    letter-spacing: 0.1px;
    color: #49505A;
    margin-top: 75px;
}

#resend {
    font-weight: 600;
}

.image, .email, .password-box {
    margin-top: 40px;
    margin-bottom: 40px;
}

@media screen and (max-width:768px) {
    img {
        width: 153px;
        height: 137px;
    }

    .email {
        font-weight: 500;
        font-size: 16px;
    }

    .password {
        font-size: 12px;
    }
}