@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    text-decoration: none;
}

body {
    letter-spacing: 0.5px;
    margin: 0;
}

nav {
    display: flex;
    justify-content: space-between;
    margin: 25px;
}

div.logo {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
}

ul.nav-links {
    display: flex;
    margin: 10px 0 0 350px;
}

li {
    list-style: none;
}

a.nav-item {
    padding: 0 20px;
    color: #49505A;
    font-size: 18px;
    line-height: 22px;
}

li.nav-item {
    margin: 0 16px;
}

button.login {
    font-size: 14px;
    letter-spacing: 0.1px;
    width: 77px;
    height: 41px;
    background: #FFFFFF;
    color: #1F2329;
    border: 2px solid #034AB3;
    border-radius: 8px;
}

button.login:hover {
    border-radius: 0px;
    border: solid 2px #531b81;
}

button.signup {
    font-size: 14px;
    width: 90px;
    height: 41px;
    background: #034AB3;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
}

button.signup:hover {
    border-radius: 0px;
    border: solid 2px #531b81;
}

ul.button {
    display: flex;
    margin: 0 0 0 2px;
}

div.container {
    margin: 100px 120px 0 120px;
    display: flex;
    flex-direction: row;
    padding: 0;
}

h2 {
    font-weight: bold;
    font-size: 48px;
    line-height: 59px;
}

p {
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
    color: #49505A;
    letter-spacing: 0.1px;
}

span.green {
    color: #2AB930;
}

div.welcome {
    padding-right: 120px;
}

img {
    width: 399px;
    height: 379px;
}

div.form-layout {
    margin-top: 100px;
    padding-left: 120px;
}

form {
    display: flex;
    flex-direction: column;
    width: 400px;
    height: 394px;
    border-radius: 8px;
}

div.form-group {
    margin: 15px 0 15px 0;
}

label {
    line-height: 24px;
    font-weight: 500;
    font-size: 16px;
}

input {
    width: 400px;
    height: 58px;
    border: 2px solid #A8B1BD;
    border-radius: 8px;
    margin-bottom: 10px;
    padding: 0 15px 0 15px;
}

@media (min-width:1025px) and (min-width:1281px) {
    ::-webkit-input-placeholder {
        color: transparent;
    }

    :-moz-placeholder {
        color: transparent;
    }

    ::-moz-placeholder {
        color: transparent;
    }

    :-ms-input-placeholder {
        color: transparent;
    }
}

p.prompt {
    font-size: 14px;
    line-height: 24px;
    color: #034AB3;
    margin-left: 255px;
}

button.submit {
    width: 400px;
    height: 58px;
    margin-bottom: 10px;
    background: #034AB3;
    border-radius: 8px;
    border: none;
    color: #ffffff;
}

button.submit:hover {
    border-radius: 0px;
    border: solid 2px #531b81;
}

p.signup {
    font-size: 16px;
    line-height: 144.1%;
    letter-spacing: 0.15px;
    color: #49505A;
    text-align: center;
}

@media screen and (max-width:768px) {

    nav {
        display: none;
    }

    div.container {
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    div.welcome {
        padding-right: 0px;
        display: flex;
        flex-direction: column-reverse;
    }

    div.text {
        margin-top: 10px;
    }

    h2 {
        font-weight: 500;
        font-size: 31px;
        line-height: 32px;
        text-align: center;
    }

    p {
        font-weight: 500;
        font-size: 16px;
        line-height: 24px;
        text-transform: capitalize;
    }

    h2, p {
        margin: 25px 0 25px 0;
    }

    div.image {
        display: flex;
        justify-content: center;
    }
    img {
        width: 147.67px;
        height: 140px;
    }

    div.form-layout {
        margin: 0px;
        padding: 0px;

    }

    div.welcome, div.form-layout {
        margin: 10px 0 50px 0;
    }

    label {
        width: 300px;
        height: 50px;
        font-size: 0;
    }

    p.prompt {
        margin-top: 0;
    }

    p.signup {
        margin-top: 0;
    }
}